<form asp-action="Index">
    <label>Name</label>
    <input type ="text" name ="Name">
    <label>Tuoi</label>
    <input type ="text" name ="Tuoi">

    <label>sodienthoai</label>
    <input type ="text" name ="sodienthoai">
    <label>Diachi</label>
    <input type = "text" name = "Address">
    <input type ="submit" value ="Send">


</form>
<h1>du lieu hien thi: @ViewBag.infoShow</h1>
