<h1>Du lieu tu Controller gui ve la: @ViewBag.infoSinhvien</h1>
<form asp-action="Index">
    <label>Nhap SinhvienID</label>
    <input type="text" name="SinhvienId">
    <label>DiaChi</label>
    <input type="text" name="DiaChi">
    <label>Tuoi:</label>
    <input type="text" name="Tuoi">
    <label>SDT</label>
    <input type="text" name="SDT">
    <input type="submit" value="SEND">

</form>