<h1>Du lieu tu Controller gui ve la: @ViewBag.infoEmployee</h1>
<form asp-action="Index">
    <label>ma nhan vien</label>
    <input type="text" name="EmployeeId">
    <label>ten nhan vien:</label>
    <input type="text" name="FullName">
    <label>tuoi:</label>
    <input type="text" name="Age">
    <label>Luong</label>
    <input type="text" name="Luong">
    <input type="submit" value="Gui du lieu">

</form>